@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #bf9bac;
}

#title {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
}

#img-div {
  background-color: #f4f5f5;
  padding: 30px;
}

#image {
  display: flex;
  margin: auto;
  height: auto;
  max-width: 650px;
  padding: 10px;
}

.focus {
  background-color: #f5d3c8;
}

figure {
  display: flex;
  justify-content: center;
}

figcaption {
  display: flex;
}

.date {
  margin-left: 350px;
}

.quote {
  font-size: 20px;
}

#tribute-info {
  background-color: #efe6ea;
}

p {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#tribute-link {
  font-size: 18px;
  padding: 10px;
  margin: 0px;
  background-color: #e0e1e0;
}

.one {
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: #9f2b68;
}
